<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="musicPlayer.properties"/>

    <bean id="rockMusic"
          class="com.naumov.RockMusic">
    </bean>

    <bean id="classicalMusic"
          class="com.naumov.ClassicalMusic">
    </bean>

    <bean id="musicPlayer"
          class="com.naumov.MusicPlayer"
          scope="prototype"
    >
        <constructor-arg ref="rockMusic"/>
        <property name="playingMusic" ref="classicalMusic"/> <!-- constructor goes first, here we overwrite music field -->
        <property name="availableMusic">
            <list>
                <ref bean="rockMusic"/>
                <ref bean="classicalMusic"/>
            </list>
        </property>
        <property name="name" value="Sony"/>
        <property name="volume" value="50"/>
        <property name="color" value="${player.color}"/>
        <property name="speakers" value="${player.speakers}"/>
    </bean>
</beans>